<h1 id="waterline-orm-">Waterline (ORM)</h1>
<p>By default, Sails comes bundled with an ORM called <a href="https://github.com/balderdashy/waterline" target="_blank">Waterline</a> (implemented in the <a href="https://github.com/balderdashy/sails-hook-orm" target="_blank">orm hook</a>.)</p>
<blockquote>
<p>To learn more about using Waterline, start in <a href="http://sailsjs.org/documentation/concepts/models-and-orm">Concepts &gt; Models &amp; ORM</a>.</p>
</blockquote>
<h3 id="reference" permalink="reference">Reference</h3>
<p>This section of the documentation contains a reference of all of the methods available at runtime on <a href="http://sailsjs.org/documentation/reference/waterline-orm/models">models</a>, <a href="http://sailsjs.org/documentation/reference/waterline-orm/queries">queries</a>, and <a href="http://sailsjs.org/documentation/reference/waterline-orm/datastores">datastores</a>.</p>
<docmeta name="displayName" value="Waterline (ORM)">

</docmeta>