<h1 id="config-security-js">config/security.js</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This file is the conventional home of your Sails app&apos;s global security settings.  For a complete reference of available security configuration in Sails, see:</p>
<ul>
<li>CORS settings reference: <a href="http://sailsjs.com/docs/reference/configuration/sails-config-security-cors">sails.config.security.cors</a></li>
<li>CSRF settings reference: <a href="http://sailsjs.com/docs/reference/configuration/sails-config-security-csrf">sails.config.security.csrf</a></li>
</ul>
<p>For a conceptual explanation of CORS in Sails, see <a href="sailsjs.com/docs/concepts/security/cors">Security &gt; CORS</a>.</p>
<p>For a conceptual explanation of CSRF in Sails, see <a href="sailsjs.com/docs/concepts/security/csrf">Security &gt; CSRF</a>.</p>
<docmeta name="displayName" value="security.js">
</docmeta>