<h1 id="myapp-config-locales-de-json">myApp/config/locales/de.json</h1>
<docmeta name="displayName" value="de.json">

<pre><code data-language="javascript">{
  &quot;Welcome&quot;: &quot;Willkommen&quot;
}
</code></pre><!-- __LANG=%%__ -->
</docmeta>