<h1 id="myapp-config-locales-en-json">myApp/config/locales/en.json</h1>
<docmeta name="displayName" value="en.json">

<pre><code data-language="text">{
  &quot;Welcome&quot;: &quot;Welcome&quot;
}
</code></pre><!-- __LANG=%%__ -->
</docmeta>