<div class="support">
  <div class="documentation-section-content">
    <div class="page-header">
      <div class="page-header-container">
        <h1>Support</h1>
        <h5>(where to look when you can't find an answer in the documentation)</h5>
      </div>
    </div>
    <div class="main-container">
      <ul class="link-list">

        <li>
        <a class="manning-book-link" target="_blank" href="http://www.manning.com/mcneil/">
            <img class="icon" alt="Book icon" src="images/icon_book.png"/>
            <div class="description">
              <h2>Sails.js In Action</h2>
              <p>We wrote a book. Get early access
with the code <span>mcneildoc</span>.</p>
            </div>
          </a>
        </li>

        <li>
          <a class="community-support">
            <img class="icon" alt="Icon of a speech bubble with a heart inside" src="images/img_irc.png"/>
            <div class="description">
              <h2>Sails Community</h2>
              <p><a target="_blank" href="https://gitter.im/balderdashy/sails"><strong>Gitter</strong></a><span class="divider">&ndash;</span> Chat with other Sails developers. <a class="js-gitter-toggle-chat-button open-chat-btn">Open Chat <i class="btn-icon"><img src="images/icon_chat.png"/></i></a>
              <p><a href="/support/about-irc"><strong>IRC</strong></a><span class="divider">&ndash;</span>Grab your favorite irc chat client and join us in #sailsjs!</p>
              <p><a target="_blank" href="https://groups.google.com/forum/#!forum/sailsjs"><strong>Google Group</strong></a><span class="divider">&ndash;</span>These guys keep it tight.</p>
            </div>
          </a>
        </li>

        <li>
          <a class="sails101-link" target="_blank" href="https://github.com/sails101">
            <img class="icon" alt="Stick figure hiking icon" src="images/img_guides.png"/>
            <div class="description">
              <h2>Sails101</h2>
              <p>Example code for common Sails.js use cases.</p>
            </div>
          </a>
        </li>

        <li>
          <a class="so-link" target="_blank" href="http://stackoverflow.com/questions/tagged/sails.js">
            <img class="icon" alt="Chain link icon" src="images/icon_stackoverflow.png"/>
            <div class="description">
              <h2>Stack Overflow</h2>
              <p>Your question has probably been answered here.</p>
            </div>
          </a>
        </li>


        <li>
          <a class="so-link" href="/resources">
            <img class="icon" alt="Image icon" src="images/icon_resources.png"/>
            <div class="description">
              <h2>Logo Resources</h2>
              <p>Images, EPS files, and the Sails.js styleguide.</p>
            </div>
          </a>
        </li>

        <li>
          <a class="so-link" href="/security-policy">
            <img class="icon" alt="Lock icon" src="images/icon_controlAndSecurity.png"/>
            <div class="description">
              <h2>Security Policy</h2>
              <p>Our policy for reporting potential security issues in Sails.</p>
            </div>
          </a>
        </li>

      </ul>



      <!-- RIGHT SIDE VERSION NOTES -->
      <div class="version-notes-links">
        <h3>Version Notes</h3>
        <% _.each(menuItems, function(menuItem) {
        if(!menuItem.isChild) { %>
          <h5><%= menuItem.displayName %></h5>
          <ul>
            <%
            var populatedChildren = _.where(menuItems, function (potentialChild) {
              if (_.contains(menuItem.children, potentialChild.path.toLowerCase())) {
                return true;
              }
            });
            _.each(populatedChildren, function(child) { %>
              <li>
                <strong>
                  <a href="/version-notes/<%= child.displayNameSlug %>"><%= child.displayName %> </a>
                </strong>
              </li>
             <% }); %>
          </ul>

        <% }
        }); %>
      </div>
    </div>
  </div>
</div>

