<h1 id="myapp-tasks-register-default-js">myApp/tasks/register/default.js</h1>
<pre><code data-language="javascript">module.exports = function (grunt) {
  grunt.registerTask(&apos;default&apos;, [&apos;compileAssets&apos;, &apos;linkAssets&apos;,  &apos;watch&apos;]);
};
</code></pre><!-- __LANG=%%__ -->
<docmeta name="displayName" value="default.js">
</docmeta>