<h1 id="register">register</h1>
<p>This folder contains different Grunt task lists. These are sort of like composite tasks that call other individual tasks in the <code>tasks/config/</code> folder.</p>
<docmeta name="displayName" value="register">

</docmeta>