<h1 id="sails-new">sails new</h1>
<p><code>sails new &lt;path/to/folder&gt;</code> creates a new Sails project in a folder called <strong>folder</strong>.</p>
<p><code>sails new .</code> create a new Sails project in current folder.</p>
<h5 id="options-" permalink="options">Options:</h5>
<ul>
<li><code>--appName</code> - Application name (will be used as <code>name</code> in <code>package.json</code>). By default it is the same as the specified <code>folder</code>.</li>
<li><code>--no-frontend</code> - Useful when generating a new Sails app that will not be used to serve any front-end assets.  Disable the generation of the <code>assets/</code> folder, <code>tasks/</code> folder, and related files. </li>
</ul>
<blockquote>
<p><code>sails new</code> is really just a special <a href="http://sailsjs.org/documentation/concepts/extending-sails/Generators">generator</a> which runs <a href="http://github.com/balderdashy/sails-generate-new" target="_blank"><code>sails-generate-new</code></a>.  In other words, running <code>sails new foo</code> is an alias for running <code>sails generate new foo</code>, and like any Sails generator, the actual generator module which gets run can be overridden in your global <code>~/.sailsrc</code> file.</p>
</blockquote>
<p><docmeta name="displayName" value="sails new"></docmeta></p>
<docmeta name="pageType" value="command">
</docmeta>