<h1 id="res-ok-">res.ok()</h1>
<p>Send a 200 (&quot;OK&quot;) response back down to the client.</p>
<h3 id="usage" permalink="usage">Usage</h3>
<pre><code data-language="javascript">return res.ok();
</code></pre><!-- __LANG=%%__ -->
<h3 id="details" permalink="details">Details</h3>
<p>Like the other built-in custom response modules, the behavior of this method is customizable.</p>
<h3 id="example" permalink="example">Example</h3>
<pre><code data-language="javascript">return res.ok();
</code></pre><!-- __LANG=%%__ -->
<h3 id="notes" permalink="notes">Notes</h3>
<blockquote>
<ul>
<li>This method is <strong>terminal</strong>, meaning it is generally the last line of code your app should run for a given request (hence the advisory usage of <code>return</code> throughout these docs).</li>
<li><code>res.ok()</code> (like other userland response methods) can be overridden or modified.  It runs the response method defined in <a href="http://sailsjs.com/anatomy/api/responses/ok-js"><code>api/responses/ok.js</code></a>, which is bundled automatically in newly generated Sails apps.  If an <code>ok.js</code> response method does not exist in your app, Sails will implicitly use the default behavior.</li>
</ul>
</blockquote>
<p><docmeta name="displayName" value="res.ok()"></docmeta></p>
<docmeta name="pageType" value="method">

</docmeta>