<h1 id="sockets-sails-sockets-">Sockets (sails.sockets)</h1>
<h3 id="overview" permalink="overview">Overview</h3>
<p>Sails exposes several methods (<code>sails.sockets.*</code>) which provide a simple interface for realtime communication with connected socket clients.  This is useful for pushing events and data to connected clients in realtime, rather than waiting for them to actively request it using HTTP.  This is true regardless of whether a client sockets was connected from a browser tab, from an iOS app, or even from your favorite household IoT appliance.</p>
<p>These methods are implemented using a built-in instance of <a href="http://socket.io" target="_blank">Socket.io</a>, which is available directly as <code>sails.io</code> (see below).  However, in almost every case, you should call the <code>sails.sockets.*</code> methods (either directly, or via a higher level abstraction such as resourceful pubsub methods).</p>
<h3 id="-sails-io-" permalink="sailsio"><code>sails.io</code></h3>
<p>The API exposed by the <code>sails.sockets.*</code> methods is flexible enough out of the box to cover the requirements of most applications, and using them will future-proof your app against possible changes in the underlying implementation.  However, if you are working on bringing some legacy code from a vanilla Socket.io app into your Sails app, it can be useful to talk to Socket.io directly.  To accomplish this, Sails provides raw access to the underlying <a href="http://socket.io/" target="_blank">socket.io</a> singleton (<code>io</code>) as <code>sails.io</code>. See the <a href="http://socket.io/docs/" target="_blank">Socket.io docs</a> for more information, and if you go this route, please proceed with care.</p>
<blockquote>
<p>As of v0.11.4, Sails bundles <code>socket.io@v1.4.3</code> as a dependency of <a href="github.com/balderdashy/sails-hook-sockets">sails-hook-sockets</a>, a core hook.</p>
</blockquote>
<p><docmeta name="displayName" value="sails.sockets"></docmeta></p>
<docmeta name="stabilityIndex" value="3">
</docmeta>