<h1 id="sails-config-csrf">sails.config.csrf</h1>
<p>Configuration for Sails&apos; built-in <a href="http://en.wikipedia.org/wiki/Cross-site_request_forgery" target="_blank">CSRF</a> protection middleware.  These options are conventionally set in the <a href="http://sailsjs.org/documentation/anatomy/myApp/config/csrf.js.html"><code>config/csrf.js</code></a> configuration file.  See the docs on <a href="http://sailsjs.org/documentation/concepts/security/csrf">Cross-Site Request Forgery</a> in the security section for detailed usage instructions.</p>
<p>This option protects your Sails app against cross-site request forgery (or CSRF) attacks. A would-be attacker needs not only a user&apos;s session cookie, but also this timestamped, secret CSRF token, which is refreshed/granted when the user visits a URL on your app&apos;s domain.</p>
<p>This allows you to have certainty that your users&apos; requests haven&apos;t been hijacked, and that the requests they&apos;re making are intentional and legitimate.</p>
<h3 id="properties" permalink="properties">Properties</h3>
<table>
<thead>
<tr>
<th>Property</th>
<th style="text-align:center">Type</th>
<th>Default</th>
<th>Details</th>
</tr>
</thead>
<tbody>
<tr>
<td><code>csrf</code></td>
<td style="text-align:center"><bubble type="boolean" colors="true"></bubble> or <bubble type="dictionary" colors="true"></bubble></td>
<td>false</td>
<td>CSRF protection is disabled by default to facilitate development.  To turn it on, just set <code>sails.config.csrf</code> to true, or for more flexibility, specify a dictionary with any of the properties described below.</td>
</tr>
<tr>
<td><code>csrf.grantTokenViaAjax</code></td>
<td style="text-align:center"><bubble type="boolean" colors="true"></bubble></td>
<td>true</td>
<td>Whether to activate the <strong>/csrfToken</strong> route, which will return the current CSRF token value which can then be used in AJAX requests.</td>
</tr>
<tr>
<td><code>csrf.origin</code></td>
<td style="text-align:center"><bubble type="string" colors="true"></bubble></td>
<td>&apos;&apos;</td>
<td>Comma-delimited list of origins that are allowed to access the CSRF token via the <strong>/csrfToken</strong> shadow route.  This is separate from the other <a href="http://sailsjs.org/documentation/reference/sails.config/sails.config.cors.html">CORS</a> settings, which <em>do not apply</em> to <strong>/csrfToken</strong>.</td>
</tr>
<tr>
<td><code>csrf.routesDisabled</code></td>
<td style="text-align:center"><bubble type="string" colors="true"></bubble></td>
<td>&apos;&apos;</td>
<td>Comma-delimited list of routes where CSRF protection is disabled.</td>
</tr>
</tbody>
</table>
<docmeta name="displayName" value="sails.config.csrf">
</docmeta>