<h1 id="records">Records</h1>
<p>A <em>record</em> is what you get back from <code>.find()</code> or <code>.findOne()</code>.  Each record is a uniquely identifiable object that corresponds 1-to-1 with a physical database entry; e.g. a row in Oracle/MSSQL/PostgreSQL/MySQL, a document in MongoDB, or a hash in Redis.</p>
<pre><code data-language="javascript">Order.find().exec(function (err, records){
  if (err) {
    return exits.error(err);
  }

  console.log(&apos;Found %d records&apos;, records.length);
  if (records.length &gt; 0) {
    console.log(&apos;Found at least one record, and its `id` is:&apos;,records[0].id);
  }

  return exits.success();

});
</code></pre><!-- __LANG=%%__ -->
<p>In Sails, records are just dictionaries (plain JavaScript objects).</p>
<docmeta name="displayName" value="Records">
</docmeta>