<h1 id="readme">README</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This is a generic README that you can edit to describe your app.</p>
<docmeta name="displayName" value="README">

<pre><code data-language="text"># myApp

a [Sails](http://sailsjs.org) application
</code></pre><!-- __LANG=%%__ -->
</docmeta>