<h1 id="realtime-communication-in-a-multi-server-aka-clustered-environment">Realtime communication in a multi-server (aka &quot;clustered&quot;) environment</h1>
<p>With the default configuration, Sails allows realtime communication between a single server and all of its connected clients.  When <a href="http://sailsjs.org/documentation/concepts/deployment/scaling" target="_blank">scaling your Sails app to multiple servers</a>, some extra setup is necessary in order for realtime messages to be reliably delivered to clients regardless of which server they&#x2019;re connected to.  This setup typically involves:</p>
<ol>
<li>Setting up a <a href="https://www.google.com/search?q=hosted+redis" target="_blank">hosted</a> instance of <a href="http://redis.io/" target="_blank">Redis</a>.</li>
<li>Installing <a href="https://github.com/socketio/socket.io-redis" target="_blank">socket.io-redis</a> as a dependency of your Sails app.</li>
<li>Updating your <a href="http://sailsjs.org/documentation/reference/configuration/sails-config-sockets#?commonlyused-options" target="_blank">sails.config.sockets.adapter</a> setting to <code>socket.io-redis</code> and setting the appropriate <code>host</code>, <code>password</code>, etc. fields to point to your hosted Redis instance.</li>
</ol>
<p>No special setup is necessary in your hosted Redis install; just plug the appropriate host address and credentials into your <code>/config/sockets.js</code> file and the <code>socket.io-redis</code> adapter will take care of everything for you.</p>
<blockquote>
<p>Note: When operating in a multi-server environment, certain operations may take an indeterminate amount of time to complete, even if the code appears to execute immediately.  It&apos;s good to keep this in mind when considering code that would, for example, follow a call to <a href="http://sailsjs.org/documentation/reference/web-sockets/sails-sockets/add-room-members-to-room" target="_blank"><code>.addRoomMembersToRoom()</code></a> immediately with a call to <a href="http://sailsjs.org/documentation/reference/web-sockets/sails-sockets/sails-sockets-broadcast" target="_blank"><code>.broadcast()</code></a>.  In such cases, you may want to employ methods such as delaying the broadcast call by wrapping it in a <code>setTimeout()</code> to give every server in the cluster time to respond.</p>
</blockquote>
<h3 id="reference" permalink="reference">Reference</h3>
<ul>
<li>See the full reference for the <a href="http://sailsjs.org/documentation/reference/web-sockets/socket-client" target="_blank">sails.io.js library</a> to learn how to use sockets on the client side to communicate with your Sails app.</li>
<li>See the <a href="http://sailsjs.org/documentation/reference/web-sockets/sails-sockets" target="_blank">sails.sockets</a> reference to learn how to send messages from the server to connected sockets</li>
<li>See the <a href="http://sailsjs.org/documentation/reference/web-sockets/resourceful-pub-sub" target="_blank">resourceful pub-sub</a> reference to learn how to use Sails blueprints to automatically send realtime messages about changes to your <a href="http://sailsjs.org/documentation/concepts/models-and-orm/models" target="_blank">models</a>.</li>
<li>Visit the <a href="http://socket.io" target="_blank">Socket.io</a> website to learn more about the underlying library Sails uses for realtime communication</li>
</ul>
<docmeta name="displayName" value="Multi-server environments">
</docmeta>