<h1 id="security">Security</h1>
<h3 id="overview" permalink="overview">Overview</h3>
<p>Sails and Express provide built-in, easily configurable protection against most known types of web-application-level attacks.</p>
<blockquote>
<p><strong>Note</strong>: If you believe you have found a security vulnerability in Sails, please refer to our <a href="https://github.com/balderdashy/sails-docs/blob/master/security/SAILS-SECURITY-POLICY.md" target="_blank">security policy</a> for instructions for reporting it.</p>
</blockquote>
<h3 id="contents" permalink="contents">Contents</h3>
<p>Learn about several different types of attacks that Node.js/Sails helps prevent out of the box, and how to enable and configure security settings in your app:</p>
<table>
<thead>
<tr>
<th style="text-align:left"><strong>Security topics</strong></th>
</tr>
</thead>
<tbody>
<tr>
<td style="text-align:left"><a href="http://sailsjs.com/docs/concepts/security/content-security-policy">CORS</a></td>
</tr>
<tr>
<td style="text-align:left"><a href="http://sailsjs.com/docs/concepts/security/ddos">DDOS</a></td>
</tr>
<tr>
<td style="text-align:left"><a href="http://sailsjs.com/docs/concepts/security/csrf">CSRF</a></td>
</tr>
<tr>
<td style="text-align:left"><a href="http://sailsjs.com/docs/concepts/security/clickjacking">Clickjacking</a></td>
</tr>
<tr>
<td style="text-align:left"><a href="http://sailsjs.com/docs/concepts/security/p3p">P3P</a></td>
</tr>
<tr>
<td style="text-align:left"><a href="http://sailsjs.com/docs/concepts/security/content-security-policy">Content Security Policy</a></td>
</tr>
<tr>
<td style="text-align:left"><a href="http://sailsjs.com/docs/concepts/security/socket-hijacking">Socket Hijacking</a></td>
</tr>
<tr>
<td style="text-align:left"><a href="http://sailsjs.com/docs/concepts/security/xss">XSS</a></td>
</tr>
<tr>
<td style="text-align:left"><a href="http://sailsjs.com/docs/concepts/security/strict-transport-security">Strict Transport Security</a></td>
</tr>
</tbody>
</table>
<docmeta name="displayName" value="Security">

</docmeta>