<h1 id="myapp">myApp</h1>
<h3 id="purpose" permalink="purpose">Purpose</h3>
<p>This is your Sails app&apos;s root directory.  All the files and subfolders it contains by default were generated upon running <code>sails new</code>.</p>
<p>As you build out your app, the models, controller actions, helpers, and other modules you create will all live somewhere within this folder.</p>
<docmeta name="displayName" value="myApp">

</docmeta>