<h1 id="list-of-available-generators">List of Available Generators</h1>
<h3 id="officially-supported-generators" permalink="officially-supported-generators">Officially Supported generators</h3>
<table>
<thead>
<tr>
<th>Repo</th>
<th>Latest Stable Version</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="https://github.com/balderdashy/sails-generate-generator" target="_blank">sails-generate-generator</a></td>
<td><a href="http://badge.fury.io/js/sails-generate-generator" target="_blank"><img src="https://badge.fury.io/js/sails-generate-generator.png" alt="NPM version"></a></td>
</tr>
<tr>
<td><a href="https://github.com/balderdashy/sails-generate-new" target="_blank">sails-generate-new</a></td>
<td><a href="http://badge.fury.io/js/sails-generate-new" target="_blank"><img src="https://badge.fury.io/js/sails-generate-new.png" alt="NPM version"></a></td>
</tr>
<tr>
<td><a href="https://github.com/balderdashy/sails-generate-controller" target="_blank">sails-generate-controller</a></td>
<td><a href="http://badge.fury.io/js/sails-generate-controller" target="_blank"><img src="https://badge.fury.io/js/sails-generate-controller.png" alt="NPM version"></a></td>
</tr>
<tr>
<td><a href="https://github.com/balderdashy/sails-generate-frontend" target="_blank">sails-generate-frontend</a></td>
<td><a href="http://badge.fury.io/js/sails-generate-frontend" target="_blank"><img src="https://badge.fury.io/js/sails-generate-frontend.png" alt="NPM version"></a></td>
</tr>
<tr>
<td><a href="https://github.com/balderdashy/sails-generate-backend" target="_blank">sails-generate-backend</a></td>
<td></td>
</tr>
<tr>
<td><a href="https://github.com/balderdashy/sails-generate-views" target="_blank">sails-generate-views</a></td>
<td></td>
</tr>
<tr>
<td><a href="https://github.com/balderdashy/sails-generate-adapter" target="_blank">sails-generate-adapter</a></td>
<td></td>
</tr>
<tr>
<td><a href="https://github.com/balderdashy/sails-generate-model" target="_blank">sails-generate-model</a></td>
<td></td>
</tr>
<tr>
<td><a href="https://github.com/balderdashy/sails-generate-api" target="_blank">sails-generate-api</a></td>
<td></td>
</tr>
<tr>
<td><a href="https://github.com/balderdashy/sails-generate-test" target="_blank">sails-generate-test</a></td>
<td></td>
</tr>
<tr>
<td><a href="https://github.com/balderdashy/sails-generate-hook" target="_blank">sails-generate-hook</a></td>
</tr>
</tbody>
</table>
<h3 id="other-generators-from-the-community" permalink="other-generators-from-the-community">Other Generators From The Community</h3>
<table>
<thead>
<tr>
<th>Repo</th>
<th>Build Status (edge)</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="https://github.com/kasperisager/sails-generate-auth" target="_blank">sails-generate-auth</a></td>
<td></td>
</tr>
<tr>
<td><a href="https://github.com/smies/sails-generate-bower" target="_blank">sails-generate-bower</a></td>
<td></td>
</tr>
<tr>
<td><a href="https://github.com/Karnith/sails-generate-new-gulp" target="_blank">sails-generate-new-gulp</a></td>
<td></td>
</tr>
<tr>
<td><a href="https://github.com/Karnith/sails-generate-frontend-gulp" target="_blank">sails-generate-frontend-gulp</a></td>
<td></td>
</tr>
<tr>
<td><a href="https://github.com/Karnith/sails-generate-backend-gulp" target="_blank">sails-generate-backend-gulp</a></td>
<td></td>
</tr>
<tr>
<td><a href="https://github.com/Karnith/sails-generate-gulpfile" target="_blank">sails-generate-gulpfile</a></td>
<td></td>
</tr>
<tr>
<td><a href="https://github.com/Karnith/sails-generate-bower-gulp" target="_blank">sails-generate-bower-gulp</a></td>
<td></td>
</tr>
<tr>
<td><a href="https://github.com/Karnith/sails-generate-angular-gulp" target="_blank">sails-generate-angular-gulp</a></td>
<td></td>
</tr>
<tr>
<td><a href="https://github.com/mphasize/sails-generate-ember-blueprints" target="_blank">sails-generate-ember-blueprints</a></td>
</tr>
</tbody>
</table>
<docmeta name="displayName" value="Available Generators">
</docmeta>